/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-ene-2017, 18:16:44
    Author     : miguel
*/

footer .list-group-item{
                border:0;
                background:transparent;
                }

div.visible-xs-block
{
        background:maroon;
        color:white;
        font-family:"Tahoma" serif;
        padding:1em;
    }
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 70px;
}
footer{
    position: absolute;
    bottom: 0;
    background:#555;
    color:white;
    height:auto;
    width: 100%;


    }
      .red
      {
        color: white;
        background-color: red;
      }

      .green
      {
        color: white;
        background-color: green;
      }

      .blue
      {
        color: white;
        background-color: blue;
      }